extends layout

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        ul.nav.masthead-nav
                            li.active
                                a(href='/') Home
                .inner.cover
                    p.lead#preform
                        form.form-getcontact#getContact(role='form')
                            input.form-control(name='phoneNum',type='tel', placeholder='XXX-XXX-XXXX', required='', autofocus='')
                            button.generate-button(type='submit') Generate
                    p.lead#pickupLine
                        | line here
                .mastfoot
                    .inner
                        p
                            | Designed for comedic relief by 
                            a(href='http://goudanufffor.me/developers') us
                            | .
