extends layout

block content
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        ul.nav.masthead-nav
                            li.active
                                a(href='#') Home
                .inner.cover
                    p.lead
                        form.form-getcontact(role='form',action='#',method='POST')
                            input.form-control(type='tel', placeholder='XXX-XXX-XXXX', required='', autofocus='')
                            button.generate-button(type='submit') Generate
                .mastfoot
                    .inner
                        p
                            | Designed for comedic relief by 
                            a(href='http://goudanufffor.me/developers') us
                            | .
